* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html,
#root {
  width: 100%;
  min-height: 100vh;
  font-family: 'Play', sans-serif;
  font-size: 18px;
  color: #FFFFFF;
}

body {
  background:
    linear-gradient(178.73deg, rgba(39, 135, 245, 0.18) -17.53%, rgba(163, 147, 245, 0.18) 131.74%),
    linear-gradient(180deg, #000000 0%, rgba(39, 36, 36, 0.7) 100%);
  background-attachment: fixed;
}

body,
input,
button,
select,
textarea {
  font-family: 'Play', sans-serif !important;
}